@charset "utf-8";

@media screen and (max-width: 767px) {
	
	.grid {
	    padding: 0 20px;
	}
	.grid figure, .grid .placeholder {
	    width: 100%;
	    padding-top: 88%;
	}

	.grid figure {
	    box-sizing: border-box;
	    margin: 10px 0;
	}

	.dummy-img {
	    margin-top: 70px;
	}
	

}