@charset "utf-8";

body{
	background: var(--main-color);
	font-family: 'Roboto','Noto Sans TC', sans-serif;
}

.container{
	margin:auto;
	width:100%;
	padding:0 15px;
	max-width: 1090px;
}

.center{
	text-align: center;
}

.color-white{
	color:#FFF;
}

